<h1>Admin Dashboard</h1>
<h4 class="alert alert-success">
  <%= link_to 'Products:',  [:admin, :products] %>
  <%= @count_products %>
</h4>
<h4 class="alert alert-success">
  Categories
  <%= @count_categories %>
</h4>