<tr>
  <td>
    <h3 class="alert alert-success"><%= category.name %></h3>
  </td>
  <td>
    <h4 class="badge">Created:
      <%= category.created_at %>
    </h4>
  </td>
  <td>
    <h4 class="badge">Last Updated:
      <%= category.updated_at %>
    </h4>
  </td>
</tr>